*.pth
*.pt
ball_detection/ball_detection
ball_detection/logs
ball_detection/runs
ball_detection/models
table_key_points/annotations
table_key_points/saved_models
SAM/dataset
SAM/output
/dataset
/models
